@page
@model WebApp.Pages.SelectConfiguration

@{
    Layout = "Shared/_Layout";
}

<h2 class="text-center my-4">Select a Game Configuration</h2>

<form method="post" class="text-center">
    <div class="form-group">
        <select id="SelectedConfiguration" name="SelectedConfiguration" class="form-control w-25 mx-auto">
            <option value="">-- Select Configuration --</option>
            @foreach (var config in Model.Configurations)
            {
                <option value="@config">@config</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Start Game</button>
</form>